/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./styles-variables";
@import "@fortawesome/fontawesome-free/css/all.min.css";

* {
    box-sizing: border-box;
}

html, body { height: 100%; margin: 0; padding: 0;}
html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: $color-grey-300;
}

router-outlet { width: 0; height: 0; }

button {
    &:focus {
        outline: 0.1rem solid transparent;
    }
}
.page-container {
    display: grid;
    grid-column-gap: 1.6rem;
    grid-row-gap: 1.6rem;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 9vh minmax(10.5vh, auto);
    // grid-template-rows: 6vh minmax(8.5vh, auto) minmax(17vh, auto) minmax(17.5vh, auto) 10vh 10vh;
    // 9vh minmax(10.5vh, auto);
    justify-items: stretch;
    align-items: stretch;


    @media (min-width: map-get($grid-breakpoints, sm4)) {
        grid-template-columns: repeat(8, 1fr);
    }

    @media (min-width: map-get($grid-breakpoints, sm3)) {
        grid-column-gap: 2.4rem;
        grid-row-gap: 2.4rem;
    }

    @media (min-width: map-get($grid-breakpoints, sm2)) {
        grid-template-columns: repeat(12, 1fr);
    }

    .margin-bottom { margin-bottom: 1.5rem; }

    .component {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        overflow: visible;

        form {
            display: flex;
            flex-direction: column;
        }

        .spinner-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .mat-card {
            margin-bottom: 1.5rem;
        }
    }
}
app-auth-login,
app-list {
    display: block;
    box-sizing: border-box;
    padding: 0;
    margin: 0 1.4rem;

    grid-row: 3 / span 4;
    //Grid is 4 columns
    grid-column: 1 / span 4;

    @media (min-width: map-get($grid-breakpoints, sm4)) {
        // Grid is 8 columns
        grid-column: 3 / span 4;
    }

    @media (min-width: map-get($grid-breakpoints, sm3)) {
        margin: 0;
    }

    @media (min-width: map-get($grid-breakpoints, sm2)) {
        // Grid is 12 columns
        grid-column: 4 / span 6;
    }

    @media (min-width: map-get($grid-breakpoints, sm1)) {
        // Grid is 12 columns
        grid-column: 4 / span 6;
    }

    @media (min-width: map-get($grid-breakpoints, md2)) {
        grid-column: 5 / span 4;
    }
    // img {
    //     width:50%;
    // }
}
app-list {
    grid-row: 2 / span 4;
    .task-btn {
      padding: 0.1rem 1.5rem;
      font-size: 1.2rem;
      font-weight: 400;
      text-align: center;
      color: $color-white;
      border-radius: 1rem;
    }
    mat-toolbar-row {
      background-color: $color-white;
      padding: 0;
    }
    .task-toolbar-spacer {
      flex: 1 1 auto;
    }
    .ellipsis-btn {
      color: $color-grey-100;
    }
}
.mat-progress-spinner circle, .mat-spinner circle {
    stroke: $color-blue-300;
}
.mat-badge-content {
    background: $color-blue-300;
    color: $color-white;
}
mat-progress-bar {
  .mat-progress-bar-buffer {
    background-color: $color-silver;
  }

  .mat-progress-bar-fill::after {
    background-color: $color-green-100;
  }
}
mat-form-field {
    .mat-form-field-wrapper{
        .mat-form-field-flex{
            .mat-form-field-outline{
                background-color: $color-grey-300;
            }
        }
    }

}
